body{
    gap: 5px;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(22,1fr);
    grid-auto-rows: 1fr;
    background-color: plum;
}
.sirkel {
    width: 25px;
    height: 25px;
    background-color: pink;
    border-radius: 50%;
    z-index: 2;
}